body{
    background-image: url('../images/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.rotate-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.rotate-message p{
    margin: 30px;
    text-shadow: 5px 5px 5px black;
}
img{
    width: 300px;
    height: 300px;
}

#name1{
    padding: 8px;
    margin: 2px;
    border: 1px solid transparent;
    border-bottom:3px solid black;
    outline: none;
    border-radius: 10PX;
    font-size: large;
    background-color: transparent;
    color: white;
    text-shadow: 10px 10px 15px black;
    text-align: center;
}

input::placeholder{
    color: black;
}

#name1:hover{
    cursor: pointer;
}


.home-button{
    padding: 10px;
    margin: 2px;
    border:2px solid white;
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 100px;
    display: inline-block;
}

.home-button:hover{
    background-color: grey;
    color: black;
    border-color: black;
    cursor: pointer;
}

.highScoreBox{
    background:linear-gradient(120deg,rgba(9, 195, 9,0.7),rgba(246, 246, 5, 0.311));
    width: 250px;
    margin: 10px auto;
    height: 130px;
    border: 2px solid black;
    border-radius: 10px;
}

h2{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

.highScore{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 4px;
}

@media (orientation:portrait){
    .rotate-message{
       display: grid;
    }
}

@media screen and (max-height:480px){
    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-height:600px) and (min-height:480px){
    .s-container{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .s-container div{
        margin: auto;
    }
}
